extends ./layout3.jade
block contenido 
    .coreccion
    h2#contacta.titulo preguntas frecuentes
    div(style='display: flex; flex-wrap: wrap; justify-content: center;' class="perfilcool" )
      .canserbero
         div(align='left')
            div(align='left' )
                h2 ¿Quienes somos ?
                p aaaaaaaaaaaaaaaaaaaaaaaaaaa.  
                h2 ¿como contactarnos?
                p aaaaaaaaaaaaaaaaaaaaaaaaaaa.
      .canserbero
         div(align="right")
            div(align="right")
                h2 Misión
                p aaaaaaaaaaaaaaaaaaa.
                h2 Visión
                p aaaaaaaaaaaaaaaaaaaaaaaaaaa..
            .divicion
    h2#contacta.titulo Equipo wordkey
    div(style='display: flex; flex-wrap: wrap; justify-content: center;' class="perfilcool" )
      .canserbero
        div(align='center')
          h2.profecion  Cargo 
          div
            img.imgprofecion(src='' alt="foto de persona")
          p.nom nombre
          p.habilidad  Informacion de la persona
          a.face(href='https://www.facebook.com', target='coni', style=' ; ')
            img(class="imgfacebook" src="./public/imagenes/img/face.png" style=" width: 10% ")
          a.face(href='https://twitter.com/', target='coni', style=' ; ')
            img(class="imgfacebook" src="./public/imagenes/img/twi.png" style=" width: 10%; ")
          .divicion
      .canserbero
        div(align='center')
          h2.profecion  Cargo 
          div
            img.imgprofecion(src='' alt="foto de persona")
          p.nom nombre
          p.habilidad  Informacion de la persona
          a.face(href='https://www.facebook.com', target='coni', style=' ; ')
            img(class="imgfacebook" src="./public/imagenes/img/face.png" style=" width: 10% ")
          a.face(href='https://twitter.com/', target='coni', style=' ; ')
            img(class="imgfacebook" src="./public/imagenes/img/twi.png" style=" width: 10%; ")
          .divicion
      section.final
        .redes
          div
            a(href="https://www.facebook.com/directorioantesde/" target='_contin')
              img(src='pubflic/imagenes/img/facebook.png')
          div
            a(href="https://twitter.com/directorioantes" target='_contin')
              img(src='public/imagenes/img/twitter.png')
          div
            a(href="https://www.youtube.com/channel/UCqu2RN8cm3Jcttvqlw8cEOg" target='_contin')
              img(src='public/imagenes/img/youtube.png')
          div
            img(src='public/imagenes/img/instagram.png')
          div
            a(href="https://plus.google.com/103462481880064545990/" target='_contin')
              img(src='public/imagenes/img/google.png')
    h2#contacta.titulo  Contactanos 
    .contactanos
      .hola se libre de decir hola
      .flex
        div
          .di1
            .animac
              p  Recibe   
              ul
                li Información
                li Asesorías personalizadas
                li Ofertas
            p.numero(style="font-family: 'Numans', sans-serif;")   Datos
            p.numero1(style="font-family: 'Numans', sans-serif;")  Datos
            p.numero2(style="font-family: 'Numans', sans-serif;")  Datos
            .textocon
              p.parra la informacion 
                div(align="center")
                  img(src="" alt="imagen" align="center")
        .di2
          form(action='/envio3', method='POST')
            .roww
              input#name.field(type='text' name='nombre' placeholder='Nombre' required)
            .roww
              input#email.field(type='email', name='email', placeholder='Email' required)
            .roww
              input#ciudad.field(type='text', name='ciudad', placeholder='Ciudad' required)
            .roww
              input#tel.field(type='text', name='telefono', placeholder='Teléfono' required)
            .roww
              textarea#text(style='width: 90%;height: 130px ;border: 1px solid #00384a;', name='mensaje', placeholder='Mensaje' required)
              input(type='hidden', name='adwords', value='2')
            .row
            input#sendMessage.envia(type='submit', value='ENVIAR' style='width: 90%;height: 130px ;border: 1px solid #00384a; background-color:#00384a;')
    script(type='text/javascript', src='./public/js/bootstrap.js')
    script(type='text/javascript', src='./public/js/bootstrap.min.js')
    script(type='text/javascript', src='./public/js/jquery.min.js')
    script(type='text/javascript', src='./public/js/jquery.min.v1.js')
    script(src='/public/slick/slick.min.js', type='text/javascript', charset='utf-8')